@model List<StudentManagementSystem.Models.Context.Country>
@{
    ViewBag.Title = "AllCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <a href="/Address/AddCountry" class="btn btn-outline-success my-4">Add Country</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CountryName</td>
                    <td><a class="btn btn-outline-warning mx-2" href="/Address/EditCountry/@item.Id">Edit</a><a class="btn btn-outline-danger mx-2" href="/Address/DeleteCountry/@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    @if (!Model.Any())
    {
        <h4 class="text-center">No Data to show!</h4>
    }
</div>
